.a0 ,.a1, .a2
    {
        border: none;
        background-color: white;

    }
   .a0
    {
        height:50px;
        float: left;
        width: 100%;
        display: table;
    }
    .a1
    {
        height:250px;
        float: left;
        width: 100%;
    }

    .a2
    {
        height:100px;
        float: left;
        width: 100%;
        display: table;
    }
    .a1
    .image
    {
        text-align: center;
        vertical-align: middle;
    }

    .success
    {
        color: green;
        text-align: center;
        vertical-align: middle;

    }
    .errors
    {
        color: red;
    }
    ul
    {
    list-style-type: none;
    }

