.a0 ,.a1
    {
        border: none;
        background-color: white;

    }
   .a0
    {
        height:50px;
        float: left;
        width: 100%;
        display: table;
    }
    .a1
    {
        height:500px;
        float: left;
        width: 100%;
    }

    .image
    {
        text-align: center;
        vertical-align: middle;


    }

    .errors
    {
        color: red;
    }
    ul
    {
    list-style-type: none;
    }